.inspector {
  .card {
    align-items: center;
    color: #ffffff;
  }
}

.container-add{
  padding: 42px;
}

.create-inspecter-txt{
  margin-left: 289px;
  color:#685369 ;
}

.close-button{
  padding: 20px;
}
