.users-title {
  position: absolute;
  width: 367px;
  height: 46px;
  left: 75px;
  top: 60px;

  font-family: Sansation;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;

  color: #685369;
}

.plus-icon {
  color: #ffffff;
}

.plus-button{
  margin-top: 53px;
  margin-right: 70px;
}

.manage-inspector-container{
  
}